#center {
  text-align: center;
  vertical-align: middle;
}
.button-separation {
  /* margin-right: 35px;  */
  margin: 10%, 10%, 10%, 10%;
}
/* Agrega estas reglas CSS en tu archivo de estilos CSS o en línea */
@keyframes falling {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}

.ball {
  position: absolute;
  width: 30px; /* Ajusta el tamaño del balón según tu imagen */
  height: 30px; /* Ajusta el tamaño del balón según tu imagen */
  background-image: url('balon.png'); /* Ruta a tu imagen de balón */
  animation: falling 2s linear infinite; /* Ajusta la duración y la animación según tus preferencias */
  z-index: 1000; /* Ajusta el z-index según tus necesidades */
}
